
body {
    font-family: 'Courier New';
    /* background-color: #FFF518; */
    background-color: #1a1a1afa;
    color: black;
    margin: 0;
    padding: 0;
    height: 1000px;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px repeat(10, 1fr);
    transition: background-color 0.5s ease;
}

body.dark_mode {
    background-color: #1a1a1afa;
    transition: 0.5s ease;
}

/* header and nav bar */
.header {
    min-width: 850px;
    grid-column-start: 1;
    grid-column-end: 10;
    color: white;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    border-bottom: 1px solid #006b7e;
}
#title {
    font-family: "Verdana";
    font-weight: 550;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 35px;
    color: #006b7e;
    min-width: 75px;
    margin-top: 25px;
    margin-left: 20px;
}

#firstName {
    text-shadow: -1px 0px 0px #006b7e, 1px 0px 0px #006b7e, 0px -1px 0px #006b7e, 0px 1px 0px #006b7e;
    color: #1a1a1afa;
}

.nav {
    grid-column-start: 10;
    min-width: 400px;

    /* puts buttons in center of navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

#openNav {
    /* this is only used for the mobile version */
    visibility: hidden;
}

.nav a {
    font-family: "Arial";
    font-size: 14px;
    border: 1px solid #006b7e;
    
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 15px; */

    width: 120px;
    height: 25px;
    min-width: 120px;

    color: white;
    background-color: transparent;
    box-shadow: 0px 0px 6px #006b7e;
    text-decoration: none;

    /* puts text in center of btn */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    
}

.nav a:hover {
    background-color: #006b7e;
    color: white;
    transition: 0.5s ease;
}

.nav .active {
     /* original color: rgb(39, 150, 224), #005d6e */
    background-color: #006b7e;
    transition: background-color 0.5s ease;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    /* hidden until light mode added */
    visibility: hidden;

    grid-column-start: -1;

    position: relative;
    display: inline-block;
    width: 60px;
    min-width: 60px;
    height: 28px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;

    background-color: #006b7e;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
   .switch .slider {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    left: 4px;
    top: 4px;
    bottom: 4px;
    transition: left 0.3s ease;
  }

  .switch .dark_mode {
    left: 36px;
  }
/* end of header and nav bar */

/* start of main body */
.main {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;


}

    .info {
        /* grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 7; */
        height: 2000px;
        min-height: 1800px;

        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(20, 100px);

        font-family: "Arial";
        font-weight: 550;
        color: white;
    }

        #profile {
            grid-column-start: 7;
            grid-column-end: 11;
            grid-row-start: 3;
            grid-row-end: 7;

            height: auto;
            width: 100%;
            min-width: 280px;
            max-width: 401px;

            padding: 4px;

            border: 1px solid #006b7e;
            /* original color: rgb(39, 150, 224) */
        }
        #first {
            grid-column-start: 3;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 3;
            margin-right: 20px;
            font-size: 35px;
        }
        hr {
            /* border-color: #006b7e; */
            background-color: #006b7e;
            border: none;
            height: 1px;
        }
        .intro {
            grid-column-start: 3;
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row-end: 6;

            margin-right: 50px;
            margin-left: 50px;
            margin-bottom: 50px;

            font-size: 30px;
        }

        .introMobile {
            display: none;

        }


        span {
            color: #006b7e;
        }

        #skills {
            grid-column-start: 3;
            grid-column-end: 10;
            grid-row-start: 10;
            grid-row-end: 11;
            margin-right: 110px;
        }
        #skills hr {
            min-width: 750px;
            width: 100%;
        }
            .reactSkill {
                grid-column: 4 / 5;
                grid-row: 11 / 12;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .reactSkill img {
                    height: auto;
                    width: 70px;
                    animation: rotation 10s infinite linear;
                    filter: brightness(0) invert(1);
                }
                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    } 
                    to {
                        transform: rotate(359deg);
                    }
                }
                .reactSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }
            
            .javascriptSkill {
                grid-column: 3 / 4;
                grid-row: 11 / 12;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .javascriptSkill img {
                    height: auto;
                    width: 60px;
                    border: 1px solid white;
                    filter: brightness(0) invert(1);
                }
                .javascriptSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }
            
            .expressSkill {
                grid-column: 5 / 6;
                grid-row: 11 / 12;
                /* border: 1px solid red; */
                align-items: center;
                justify-self: center;
                min-width: 100px;
            }
                .expressSkill #expressLogo {
                    font-family: "Arial";
                    font-size: 40px;
                    font-weight: 20;

                    height: 50px;
                    width: 50px;
                    border: 2px solid white;
                    padding: 10px;
                    border-radius: 50px;
                    color: white;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: -10px;
                }
                .expressSkill #expressLogo:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }
            
            .sqlSkill {
                grid-column: 6 / 7;
                grid-row: 11 / 12;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .sqlSkill img {
                    height: auto;
                    width: 70px;
                    filter: brightness(0) invert(1);
                    margin-bottom: -12px;
                }
                .sqlSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }
            .pythonSkill {
                grid-column: 7 / 8;
                grid-row: 11 / 12;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .pythonSkill img {
                    height: auto;
                    width: 65px;
                    filter: brightness(0) invert(1);
                    margin-bottom: -5px;
                }
                .pythonSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }

            .cSkill {
                grid-column: 8 / 9;
                grid-row: 11 / 12;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .cSkill img {
                    height: auto;
                    width: 65px;
                    filter: brightness(0) invert(1);
                    margin-bottom: -5px;
                }
                .cSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }
            .htmlSkill {
                grid-column: 3 / 4;
                grid-row: 12 / 13;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .htmlSkill img {
                    height: auto;
                    width: 100px;
                    filter: brightness(0) invert(1);
                    margin-top: 25px;
                    margin-bottom: -10px;
                }
                .htmlSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }
            .cssSkill {
                grid-column: 4 / 5;
                grid-row: 12 / 13;
                /* border: 1px solid red; */
                align-items: center;
                text-align: center;
                min-width: 100px;
            }
                .cssSkill img {
                    height: auto;
                    width: 65px;
                    filter: brightness(0) invert(1);
                    margin-top: 20px;
                    margin-bottom: -5px;
                }
                .cssSkill img:hover {
                    filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
                }

        #eduTitle {
            grid-column-start: 3;
            grid-column-end: 10;
            grid-row-start: 14;
            grid-row-end: 15;
            margin-right: 110px;
        }

        #eduTitle hr {
            min-width: 750px;
        }

            .education {
                grid-column: 3 / 10;
                grid-row: 15 / 18;
                font-family: 'Times New Roman', Times, serif;
                font-size: +3;
                min-width: 200px;
                /* margin-right: 11%; */

                display: grid;
                grid-template-columns: 15% 85%;
                grid-template-rows: 175px 250px;
            }
            
            #eduImg {
                grid-column: 1 / 2;
                grid-row: 1 / 2; 

                margin-left: 30%;
                background-color: white;
                border-radius: 100px;
                width: 150px;
                min-width: 150px;
            }
            #eduSchool {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                margin-left: 80px;
                width: 80%;
            }
            .eduContent {
                grid-column: 2 / 4;
                grid-row: 1 / 3;

                margin-left: 80px;
                margin-top: 80px;
                width: 80%;
                min-width: 300px;
            }
            .education h2 {
                font-size: 35px;
            }
            .education h3 {
                font-size: 25px;
            }

            .education li {
                margin-bottom: 10px;
                font-size: 17px;
            }


        .footer {
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: -1; 
            display: flex;
            justify-content: right;
            margin-right: 100px;
        
        }
        
        .footer img {
            height:auto;
            width: 70px;
            margin-right: 30px;
            filter: brightness(0) invert(1);
        }
            .footer img:hover {
                filter: contrast(0) brightness(0.9) invert(.7) sepia(.3) hue-rotate(150deg) saturate(700%);
            }
/* end of main body */

/* start of body for projects page */
.info2 {
    height: 1000px;
    min-height: 1000px;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 100px);

    font-family: "Arial";
    font-weight: 550;
    color: white;
}
#second {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-right: 20px;
    font-size: 35px;
}

.todoApp {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 12;

    margin-left: 200px;
    margin-right: 200px;

    display: grid;
    grid-template-rows: repeat(23, 100px);
    grid-template-columns: 100%;
    text-align: left;
    position: relative;
}

#todoTitle {
    font-size: 35px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    /* margin-left: 75px; */
    min-width: 700px;
    text-align: center;
}

#todoTitle h3 {
    font-size: 30px;
}

.todoApp h4 {
    width: fit-content;
}

.todoInfo {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    margin-top: -20px;
    font-size: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}


.openTodoContent {
    min-width: 40px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    
    background-color: transparent;
    border: none;
    margin-left: 90%;
    margin-top: 25px;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    background-color: #161616fa;
    border-radius: 7px;
}
.openTodoContent hr {
    width: 93%;
    min-width: 93%;
    margin-top: 12%;
    margin-bottom: 12%;
    color: #006b7e;
    border: 1px solid #006b7e;
    background: transparent;
    height: 0px;
}

.openTodoContent:active {
    background-color: #006b7e;
}
.openTodoContent:active hr {
    color: #1a1a1afa;
}



.todoContent {
    height: 0px;
    overflow: hidden;
    border-top: 0px solid #006b7e;
    border-bottom: 1px solid #006b7e;
    grid-column: 1 / 2;
    grid-row: 7 / 22;
    margin-top: 50px;
    padding-left: 15px;
    transition: 1s ease;

    position: absolute;
    /* visibility: hidden; */
}

.todoContent.open {
    height: 90%;
    border-top: 1px solid #006b7e;
    
}

.todoContent p {
    font-weight: 100;
    margin-top: -15px;
}

.todoContent h4 hr {
    margin-top: 0px;
    /* border-color: #006b7e; */
    background-color: #006b7e;
    border: none;
    height: 1px;
}

.todoPurpose {
    grid-column: 1 / 2;
    grid-row: 8 / 9;

    /* padding-right: 50px; */
    /* border-right: 1px solid #006b7e; */
    
}


.todoOverview {
    grid-column: 1 / 2;
    grid-row: 9 / 11;

    padding-right: 50px;
    /* border-right: 1px solid #006b7e; */
    padding-top: 0px;
}

.todoLang {
    grid-column: 1 / 2;
    grid-row: 11 / 12;

    padding-right: 50px;
    /* border-right: 1px solid #006b7e; */
    padding-top: 0px;
}

.todoAuth {
    grid-column: 1 / 2;
    grid-row: 12 / 14;

    padding-right: 50px;
    /* border-right: 1px solid #006b7e; */
    padding-top: 0px;
}

.todoPub {
    grid-column: 1 / 2;
    grid-row: 14 / 16;

    padding-right: 50px;
    /* border-right: 1px solid #006b7e; */
    padding-top: 0px;
}

.todoDemo {
    grid-column: 1 / 2;
    grid-row: 2 / 7;

    padding-left: 0px;
}

.todoProcess {
    grid-column: 1 / 2;
    grid-row: 16 / 21;
    margin-top: 8px;
}

.todoProcess div {
    margin-left: 20px;
}
/* end of body for projects page */
/* start of resume page */
#third {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-right: 20px;
    font-size: 35px;
}
.resume {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: -1;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.resume a {
    font-family: "Arial";
    font-size: 14px;
    border: 1px solid #006b7e;
    
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 30px;

    width: 120px;
    height: 25px;
    min-width: 120px;

    color: white;
    background-color: #1a1a1afa;
    box-shadow: 0px 0px 6px #006b7e;
    text-decoration: none;

    /* puts text in center of btn */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.resume a:hover {
    background-color: #006b7e;
    transition: 0.5s ease;
}

#resumePic {
    height: auto;
    width: 750px;
}

img {
    height: auto;
    width: 100px;
}

/* start mobile settings */
@media (max-width: 820px) {
    body {
        width: 100%;
    }

    .header {
        min-width: 300px;
        width: 100%;
        height: 75px;

        grid-column-start: 1;
        grid-column-end: -1;

        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 75px 125px;
    }

    .switch {
        position: absolute;
        left: 0;
        top: 0;
    }

    #title {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        height: 100px;
    }

    .nav {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        min-width: 390px;
        height: 0px;
        overflow: hidden;
        transition: height 0.75s ease;

        border-bottom: 1px solid #006b7e;

        display: grid;
        grid-template-columns: 130px 130px 130px;
    }
    .nav.openMobile {
        height: 100%;
    }

    #openNav {
        visibility: visible;
        min-width: 40px;
        width: 40px;
        height: 40px;
        min-height: 40px;

        position: absolute;
        left: 85%;
        top: 30px;

        background-color: #161616fa;
        border-radius: 7px;
        border: none;
    }

    #openNav hr {
        width: 93%;
        min-width: 93%;
        color: #006b7e;
        border: 1px solid #006b7e;
        height: 0px;
    }


    #openNav:active {
        background-color: #006b7e;
    }
    #openNav::after hr {
        color:  #1a1a1afa;
        border: 1px solid #1a1a1afa;
    }

    .nav a {
        margin-left: 0px;
        background-color: transparent;
        border: none;
        box-shadow: none;

        grid-column: 1 / 2;
        height: 100%;
        min-height: 41px;
    }

    .nav .active {
        background-color: #1a1a1afa;
        color: #006b7e;
    }

    .navBtn.openMobile {
        visibility: visible;
    }

    #indexBtn {
        /* grid-row: 1 / 2; */
        z-index: 1;
        margin-top: 2px;
    }
    #projBtn {
        /* grid-row: 2 / 3; */
        z-index: 2;
    }
    #resBtn {
        /* grid-row: 3 / 4; */
        z-index: 3;
    }
    /* main content section */
    .info {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(20, 100px);
        min-height: 1000px;
        height: 1000px;
    }
    /* About me section */
    #first {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 20px;
        margin: 10px 5px 5px 10px;
        
    }
    #first hr {
        margin-top: 5px;
        margin-right: 10px;
        margin-left: -5px;
    }

    .intro {
        display: none;
    }

    .introMobile {
        display: block;
        grid-row: 3 / 5;
        grid-column: 1 / 3;

        font-size: 16px;
        margin: -20px 10px 0px 20px;
        float: right;
        text-align: left;
        font-weight: 100;
    }

    #profile {
        grid-row: 2 / 5;
        grid-column: 3 / -1;
        min-height: 100px;
        height: auto;
        width: 85%;
        max-width: 255px;
        min-width: 180px;

        text-align: right;

        /* margin-left: -5px; */
        /* margin-right: 10%; */
        margin-top: 10px;
    }

    #skills {
        grid-row: 6 / 7;
        grid-column: 1 / 5;
        margin: 30px 2% 0px 2%;
        font-size: 20px;
    }

    #skills hr {
        min-width: 375px;
        margin-left: -5px;
        margin-top: 5px;
    }
    
    .javascriptSkill {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: -10px;
        font-size: 12px;
    }
    /* .javascriptSkill img {
        width: 50px;
        height: auto;
    } */
    .reactSkill {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: -10px;
        font-size: 12px;
    }
    /* .reactSkill img {
        width: 50px;
        height: auto;
    } */
    .reactSkill p {
        margin-top: 13px;
    }
    .expressSkill {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
        /* border: 1px solid red; */
        align-items: center;
        justify-self: center;
        min-width: 90px;
        margin-top: -12px;
        margin-left: 17px;
        font-size: 12px;
    }
    .expressSkill #expressCaption {
        margin-left: 8px;
        margin-top: 15px;
        margin-bottom: -10px;
    }
    /* .expressSkill #expressLogo {
        width: 50px;
        height: 50px;
        font-size: 35px;
    } */
    .sqlSkill {
        grid-column: 4 / 5;
        grid-row: 7 / 8;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: -10px;
        font-size: 12px;
    }
    .sqlSkill p {
        margin-top: 15px;
    }

    .pythonSkill {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: 5px;
        font-size: 12px;
    }

    .cSkill {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: 5px;
        font-size: 12px;
    }

    .htmlSkill {
        grid-column: 3 / 4;
        grid-row: 8 / 9;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: -10px;
        font-size: 12px;
    }

    .htmlSkill p {
        margin-top: 20px;
    }

    .cssSkill {
        grid-column: 4 / 5;
        grid-row: 8 / 9;
        /* border: 1px solid red; */
        align-items: center;
        text-align: center;
        min-width: 90px;
        margin-top: -10px;
        font-size: 12px;
    }
    .cssSkill p {
        margin-top: 17px;
    }

    #eduTitle {
        grid-column: 1 / 5;
        grid-row: 10 / 11;
        margin: 45px 10px 0px 10px;
        font-size: 20px;
    }

    #eduTitle hr {
        min-width: 100px;
        margin-left: -5px;
    }

    .education {
        grid-column: 1 / 5;
        grid-row: 11 / 15;
        font-family: 'Times New Roman', Times, serif;
        font-size: +3;
        min-width: 300px;

        margin-top: 20px;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 75px 300px;
    }
    
    #eduImg {
        grid-column: 1 / 2;
        grid-row: 1 / 2; 

        margin-left: 20%;
        background-color: white;
        border-radius: 100px;
        width: 75px;
        min-width: 75px;
    }

    #eduSchool {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        margin: 25px 0px 0px 7%;
        width: 90%;
        min-width: 100px;
        font-size: 20px;

        text-align: left;
    }

    .eduContent {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-top: -5px;
        margin-left: 30px;
        width: 88%;
    }

    .education h2 {
        font-size: 35px;
    }
    .eduContent h3 {
        font-size: 16px;
    }

    .education li {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .footer {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 16; 
        grid-row-end: 17;
        display: flex;
        justify-content: right;
        margin-right: 10px;
    
    }
    
    .footer img {
        height:auto;
        width: 50px;
        margin-right: 10px;
        filter: brightness(0) invert(1);
    }

    /* Projects */
    .info2 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(7, 100px);
        min-height: 700px;
        height: 700px;
    }
    #second {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 20px;
        margin: 10px 5px 5px 10px;
    }
    #second hr {
        min-width: 375px;
        margin-left: -5px;
        margin-top: 5px;
    }
        
    .todoApp {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 3;
        grid-row-end: 17;

        margin-left: 10px;
        margin-right: 10px;

        height: 650px;
        min-height: 650px;

        display: grid;
        grid-template-rows: repeat(100, 50px);
        grid-template-columns: 25% 25% 25% 25%;

    }

    .todoInfo {
        grid-column: 1 / -1;

        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .openTodoContent {
        margin-left: 70%;
        margin-top: 0px;

    }

    .openTodoContent hr {
        min-width: 90%;
        width: 90%;
        height: 0px;
    }

    .todoContent {
        grid-column: 1 / -1;
        grid-row: 8 / 55;
        margin-top: 15px;
    }
    .todoContent.open {
        height: 92%;
    }
    #todoTitle {
        min-width: 360px;
        font-size: 18px;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        margin: -20px 0px 0px 0px;
    }
    #todoTitle h3 {
        font-size: 18px;
    }

    .todoApp h4 {
        width: fit-content;
    }
    .todoPurpose {
        grid-column: 1 / 5;
        grid-row: 2 / 4;

        padding-right: 0px;
        border-right: none;

        margin: -10px 0px 0px 0px;
    }
    .todoPurpose hr {
        margin-top: 3px;
        border: 1px solid #006b7e;
    }
    .todoPurpose p {
        margin-top: -15px;
        font-weight: 100;
    }

    .todoOverview {
        grid-column: 1 / 5;
        grid-row: 4 / 8;

        padding-right: 0px;
        border-right: none;
        padding-top: 0px;
    }
    .todoOverview hr {
        margin-top: 3px;
        border: 1px solid #006b7e;
    }
    .todoOverview p {
        margin-top: -15px;
        font-weight: 100;
    }
    .todoLang {
        grid-column: 1 / 5;
        grid-row: 8 / 10;

        padding-right: 0px;
        border-right: none;
        margin-top: -10px;
    }
    .todoLang hr {
        margin-top: 3px;
        border: 1px solid #006b7e;
    }
    .todoLang p {
        margin-top: -15px;
        font-weight: 100;
    }

    .todoAuth {
        grid-column: 1 / 5;
        grid-row: 10 / 14;

        padding-right: 0px;
        border-right: none;
        padding-top: 0px;
    }
    .todoAuth hr {
        margin-top: 3px;
        border: 1px solid #006b7e;
    }
    .todoAuth p {
        margin-top: -15px;
        font-weight: 100;
    }

    .todoProcess p {
        font-size: 14px;
    }

    .todoPub {
        grid-column: 1 / 5;
        grid-row: 14 / 17;

        padding-right: 0px;
        border-right: none;
        padding-top: 0px;
        margin-top: -10px;
    }
    .todoPub hr {
        margin-top: 3px;
        border: 1px solid #006b7e;
    }
    .todoPub p {
        margin-top: -15px;
        font-weight: 100;
    }

    .todoDemo {
        grid-column: 1 / 5; 
        grid-row: 2 / 6;
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .todoDemo hr {
        margin-top: 3px;
        border: 1px solid #006b7e;
    }

    .todoDemo video {
        width: 370px;
    }

    /* resume section */
    #third {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 20px;
        margin: 10px 5px 0px 10px;
    }
    #third hr {
        min-width: 375px;
        margin-left: -5px;
        margin-top: 5px;
    }
    .resume {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 8;
    }
    .resume a {
        font-family: "Arial";
        font-size: 14px;
        border: 1px solid #006b7e;
        
        /* margin-left: 135px;
        margin-right: 20px; */
        margin-top: -30px;
    
        width: 120px;
        height: 25px;
        min-width: 120px;
    
        color: white;
        background-color: #1a1a1afa;
        box-shadow: 0px 0px 6px #006b7e;
        text-decoration: none;
    
        /* puts text in center of btn */
        display: flex;
        justify-content: center;
        align-items: center;
    
        
    }
    #resumePic {
        height: auto;
        width: 370px;
    }
    
}